<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.security.dao.PermissionDao">
    <resultMap id="permissionMap" type="com.example.security.entity.Permission">
        <id property="permissionId" column="permission_id"/>
        <result property="name" column="name"/>
        <result property="permissionUrl" column="permissionUrl"/>
        <result property="method" column="method"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="queryCondition">
        <where>
            <if test="permissionId != null and permissionId != ''">
                and permission_id = #{permissionId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="permissionUrl != null and permissionUrl != ''">
                and permission_url = #{permissionUrl}
            </if>
            <if test="method != null and method != ''">
                and method = #{method}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
        </where>
    </sql>


    <select id="getByMap" parameterType="map" resultMap="permissionMap">
        SELECT * FROM sys_permission
        <include refid="queryCondition"/>
    </select>


    <select id="getById" parameterType="int" resultMap="permissionMap">
    	SELECT * FROM sys_permission WHERE permission_id =#{permissionId}
    </select>


    <select id="getList" resultMap="permissionMap">
		SELECT * from sys_permission
	</select>


    <select id="getByUserId" parameterType="int" resultMap="permissionMap">
		select p.*
		from sys_user u
		LEFT JOIN sys_role_user ur on u.user_id= ur.user_id
		LEFT JOIN sys_role r on ur.role_id=r.role_id
		LEFT JOIN sys_permission_role rp on rp.role_id=r.role_id
		LEFT JOIN sys_permission p on p.permission_id =rp.permission_id
		where u.user_id=#{userId}
	</select>


    <insert id="create" parameterType="com.example.security.entity.Permission">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO sys_permission(
        permission_id,
        name,
        permissionUrl,
        method,
        description
        )VALUES(
        #{permissionId},
        #{name},
        #{permissionUrl},
        #{method},
        #{description}
        )
    </insert>

    <update id="update" parameterType="com.example.security.entity.Permission">
		UPDATE sys_permission SET
			name = #{name},
			permissionUrl = #{permissionUrl},
			method = #{method},
			description = #{description}
		WHERE permission_id = #{id}
    </update>


    <delete id="delete" parameterType="int">
    	DELETE FROM sys_permission WHERE permission_id = #{id}
    </delete>

</mapper>