<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.security.dao.UserDao">
    <resultMap id="userMap" type="com.example.security.entity.User">
        <id property="userId" column="user_id"/>
        <result property="cnname" column="cnname"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="telephone" column="telephone"/>
        <result property="mobilePhone" column="mobilePhone"/>
    </resultMap>


    <sql id="queryCondition">
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="cnname != null and cnname != ''">
                and cnname = #{cnname}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="mobilePhone != null and mobilePhone != ''">
                and mobilePhone = #{mobilePhone}
            </if>
        </where>
    </sql>

    <select id="getByMap" parameterType="map" resultMap="userMap">
        SELECT u.* FROM sys_user u
        <include refid="queryCondition" />
        ORDER  by user_id DESC
    </select>


    <select id="getById" parameterType="int" resultMap="userMap">
    	SELECT * FROM sys_user WHERE user_id =#{userId}
    </select>



    <select id="getByUserName" parameterType="String" resultMap="userMap">
		select u.* from sys_user u
		where username= #{username}
	</select>

    <insert id="create" parameterType="com.example.security.entity.User">
        <selectKey resultType="int"  order="AFTER" keyProperty="id" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user(
        user_id,
        cnname,
        username,
        password,
        email,
        telephone,
        mobilePhone

        )VALUES(
        #{userId},
        #{cnname},
        #{username},
        #{password},
        #{email},
        #{telephone},
        #{mobilePhone}
        )
    </insert>



    <update id="update" parameterType="com.example.security.entity.User">
        UPDATE sys_user
        <set>
            <if test = "cnname != null and cnname != ''">
                cnname = #{cnname},
            </if>
            <if test = "password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone},
            </if>
            <if test=" mobilePhone!= null and mobilePhone != ''">
                mobilePhone = #{mobilePhone},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="delete" parameterType="int">
    	DELETE FROM user WHERE user_id = #{userId}
    </delete>

</mapper>