<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="helloWorldImpl1" class="org.example.aop.HelloWorldImpl1"/>
    <bean id="helloWorldImpl2" class="org.example.aop.HelloWorldImpl2"/>
    <bean id="timeHandle" class="org.example.aop.TimeHandler"/>
    <bean id="logHandle" class="org.example.aop.LogHandle"/>

    <aop:config>
        <aop:aspect id="time" ref="timeHandle" order="1">
            <aop:pointcut id="printAop" expression="execution(* org.example.aop.HelloWorld.*(..))"/>
            <aop:before method="printTime" pointcut-ref="printAop"/>
            <aop:after method="printTime" pointcut-ref="printAop"/>
        </aop:aspect>


        <aop:aspect id="log" ref="logHandle" order="2">
            <aop:pointcut id="printLog" expression="execution(* org.example.aop.HelloWorld.do*(..))"/>
            <aop:before method="LogBefore" pointcut-ref="printLog"/>
            <aop:after method="LogAfter" pointcut-ref="printLog"/>
        </aop:aspect>

    </aop:config>
</beans>