<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.term.design.dao.PermissionDao">
<select id="findAll"  resultType="com.term.design.entity.Permission">

   SELECT * from sys_permission ;
</select>

 <select id="findByAdminUserId" parameterType="int" resultType="com.term.design.entity.Permission">
       select p.*
		from sys_user u
        LEFT JOIN sys_user_role sru on u.id= sru.sys_user_id
        LEFT JOIN sys_role r on sru.roles_id=r.id
        LEFT JOIN sys_permission_role spr on spr.roles_id=r.id
        LEFT JOIN sys_permission p on p.id =spr.permission_id
        where u.id=#{userId}
 </select>
 </mapper>